.margin-top{
    margin-top: 27px;
}

.input-length{
    width: 50%;
}
.margin-t2{
    margin-top: 35px;
}
*{
    background-color: #000000;

}
.mdc-dialog__surface {
    overflow-y: hidden;
  }
  .margin-top{
    margin-top: 27px;
}

.input-length{
    width: 50%;
}
.margin-t2{
    margin-top: 35px;
}