<div class="sidebar-wrapper" data-simplebar="true">

    <div class="sidebar-header">
        <div>
            <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">CALL EXTREME</h4>
        </div>
        
        <div class="toggle-icon ms-auto" (click)="isToggle()">
            <i class='bx bx-arrow-to-left'></i>

            <!-- <i class='bx bx-arrow-to-left'></i> -->
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
      

        <li> 
            <a href="javascript:;" class="has-arrow">
          <div class="parent-icon"><i class='bx bx-cart'></i>
          </div>
          <div class="menu-title">CRM</div>
      </a>
      <ul>
          <li> <a routerLink="/index/dropdown"><i class="bx bx-right-arrow-alt" ></i>Create DropDown</a>
          </li>
          <li> <a routerLink="/index/dynamicForm"><i class="bx bx-right-arrow-alt"></i>Create CRM</a>
          </li>
         
        
          
      </ul>
      </li>


        <li> 
              <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-cart'></i>
            </div>
            <div class="menu-title">Services</div>
        </a>
        <ul>
            <li> <a routerLink="/index/service"><i class="bx bx-right-arrow-alt" ></i>Services</a>
            </li>
            <li> <a routerLink="/index/disposition"><i class="bx bx-right-arrow-alt"></i>Disposition</a>
            </li>
            <li> <a routerLink="/index/break"><i class="bx bx-right-arrow-alt"></i>Break</a>
            </li>
            <li> <a routerLink="/index/script"><i class="bx bx-right-arrow-alt"></i>Script</a>
            </li>
          
            
        </ul>
        </li>
      
      
        <li>   <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-cart'></i>
            </div>
            <div class="menu-title">Ceate Logins</div>
        </a>
        <ul>
            <li> <a><i class="bx bx-right-arrow-alt"></i>Create User</a>
            </li>
            <li> <a routerLink="/index/tl"><i class="bx bx-right-arrow-alt"></i>Create TL</a>
            </li>
            <li> <a routerLink="/index/manager"><i class="bx bx-right-arrow-alt"></i>Create Manager</a>
            </li>
            <li> <a routerLink="/index/agent"><i class="bx bx-right-arrow-alt"></i>Add Agents</a>
            </li>
            <li> <a><i class="bx bx-right-arrow-alt"></i>Assign Camp</a>
            </li>
            
        </ul>
        </li>
        <li>
            <a routerLink="/index/liveAgent">
                <div class="parent-icon"><i class='bx bx-cookie'></i>
                </div>
                <div class="menu-title">Live Agents</div>
            </a>
        </li>

        <li>   <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-cart'></i>
            </div>
            <div class="menu-title">Batch Upload</div>
        </a>
        <ul>
            <li> <a><i class="bx bx-right-arrow-alt"></i>Upload  Batch</a>
            </li>
            <li> <a><i class="bx bx-right-arrow-alt"></i>Batch List</a>
            </li>
            
        </ul>
        </li>  <li>   <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-cart'></i>
            </div>
            <div class="menu-title">Reports</div>
        </a>
        <ul>
            <li> <a><i class="bx bx-right-arrow-alt"></i>Inbound Records</a>
            </li>
            <li> <a routerLink="/index/outboundRecords"><i class="bx bx-right-arrow-alt"></i>Outbound Records</a>
            </li>
            <li> <a><i class="bx bx-right-arrow-alt"></i>Manual Records</a>
            </li>
            <li> <a><i class="bx bx-right-arrow-alt"></i>Call Back Calls</a>
            </li>
            <li> <a><i class="bx bx-right-arrow-alt"></i>Agent Report</a>
            </li>
            
        </ul>
        </li>  <li>   <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-cart'></i>
            </div>
            <div class="menu-title">Management</div>
        </a>
        <ul>
            <li> <a><i class="bx bx-right-arrow-alt"></i>Server Monitoring</a>
            </li>
            <li> <a routerLink="/index/dni"><i class="bx bx-right-arrow-alt"></i>DNI</a>
            </li>
            <li> <a><i class="bx bx-right-arrow-alt"></i>Blacklist</a>
            </li>
            <li> <a routerLink="/index/ivr"><i class="bx bx-right-arrow-alt"></i>IVR File</a>
            </li>
            
        </ul>
        </li>
     
    </ul>
    
    <!--end navigation-->
</div>
